
.Device {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 5px;
}
.Device .Span {
    display: block;
    min-width: 50%;
    min-height: 20px;
}

.Template {
    width: 100%;
    height: 50px;
}