.button {
    padding: 0.25em 0.5em;
    border: 3px solid;
}

.button:not(:active) {
    transition: background-color 2s ease-out;
}


/* type */
.primary,.secondary:active {
    border-color: var(--theme-dark);
    background-color: var(--theme-light);
    color: var(--theme-dark);
}

.secondary,.primary:active {
    border-color: var(--theme-light);
    background-color: var(--theme-dark);
    color: var(--theme-light);
}

/*size*/
.small {
    border-radius: 0.5em;
    font-size: x-small;
}

.medium {
    border-radius: 0.4em;
    font-size: small;
}

.large {
    border-radius: 0.3em;
    font-size: large;
}