.Dialog {
    background-color: transparent;
    border: 0px;
    pointer-events: none;
    padding: 0px;
    margin: 0%;
    z-index: 9999;
    left: calc(50% - 250px);
}

.Dialog::backdrop {
    pointer-events: none;
    z-index: -1;
}

.Dialog > * {
    pointer-events: auto; /* Enable interaction with content inside the dialog */
}

.Dialog > div {
    margin-top: 0.5em;
}